streamlit
spacy==3.7.2
python-docx
PyMuPDF
scikit-learn
# Correct spaCy language model
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
numpy
pandas
pdfplumber
blis==0.7.11
opencv-python-headless
